---
layout: teachdh
---
{% include searchBar.html %}
<section id="questions">
  {% for post in site.posts %}
  <article id="{{ post.title | slugify }}">
    <header>
      <h1>{{ post.title | escape }}</h1>
      <ul>
        {% for category in post.categories %}
        <li><button data-target="{{catergory | escape}}">{{ category |escape }}</button></li>
        {% endfor %}
      </ul>
    </header>
    <main>
      {{ post.content |markdownify }}
    </main>
  </article>
  {% endfor %}
</section>
