---
layout: teachdh
---
{% include categories.html %}
{% include searchBar.html %}
{% include titleList.html %}
<section id="questions">
  {% for post in site.posts %}
  <article id="{{ post.title | slugify }}">
    <header>
      <h1>{{ post.title | escape }}</h1>
      <ul>
        {% for category in post.categories %}
        <li>{{category}}</li>
        {% endfor %}
      </ul>
    </header> 
    <main>
      {{ post.content |markdownify }}
    </main>
  </article>
  {% endfor %}
</section>
