<h2 class="mb0 lh-title"><em>Using Digital Humanities in the Classroom</em>: An FAQ</h2>

<div class="lh-copy f6">
  <p class="mt0">
  This Web Companion is designed to supplement the second edition of <a href="https://www.bloomsbury.com/us/using-digital-humanities-in-the-classroom-9781350180895/"><em>Using Digital Humanities in the Classroom: A Practical Introduction for Teachers, Lecturers, and Students</em></a>. Use the search bar or the filter buttons below to find material related to find answers to any questions you might have about beginning your digital pedagogy journey.
  </p>
  <p>
	To access the Web Companion to the first edition of this book, <a href="https://teachdh.com/2016/">click here</a>.
  </p>
	  <p>
	To access the DH Course Randomizer, <a href="https://teachdh.com/dh-course-plan/">click here</a>.
  </p>
</div>
