:root {
	--item-font-size: 1.1rem;
	--label-right-spacing: 1rem;
	--label-font-size: 1.5rem;
	--label-font-weight: 700;
	--element-max-width: 960px;
	--background-light: white;
	--foreground-light: black;
	--item-clicked-background-light: rgba(0, 0, 0, 0.05); 
	--item-clicked-border-light: rgba(0, 0, 0, 0.5); 
	--background-dark: rgb(28, 28, 28);
	--foreground-dark: rgb(204, 204, 204);
	--item-clicked-background-dark: rgba(255, 255, 255, 0.05); 
	--item-clicked-border-dark: rgba(255, 255, 255, 0.5); 
}

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 20px;
}

h1 {
	text-align: center;
}

.about {
	max-width: var(--element-max-width);
	margin: auto;
	margin-bottom: 2rem;
	font-size: var(--item-font-size);
}

#generator-home {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	text-align: center;
}

.button {
	font-size: var(--item-font-size);
}

@media (min-width: 480px) {
	.button {
		font-size: calc(var(--label-font-size) * 0.95);
	}
}

#output {
	width: 100%;
	margin: 0 auto;
	max-width: var(--element-max-width);
	margin-bottom: 4rem;
}

.plan {
	margin-bottom: 1.25rem;
}

.plan__label {
	font-size: var(--label-font-size);
	font-weight: var(--label-font-weight);
}

.plan__label {
	padding-right: var(--label-right-spacing);
}

.plan__item {
	margin-top: 0.25rem;
	font-size: var(--item-font-size);
	cursor: pointer;
	padding: 2px;
	border: 1px solid;
}

.scores__title {
	padding-right: var(--label-right-spacing);
	font-size: var(--label-font-size);
	font-weight: var(--label-font-weight);
}

.scores__title,
.scores__list {
	margin: 0;
}

.scores__list {
	padding-left: var(--item-font-size);
}

.score {
	font-size: var(--item-font-size);
}

@media only screen and (min-device-width: 480px) {
	.scores,
	.plan {
		display: grid;
		grid-template-columns: 35% auto;
		align-content: center;
	}

	.scores__title,
	.plan__label {
		text-align: right;
	}
}

html {
	color: var(--foreground-light);
	background: var(--background-light);
}

#generator-home {
	background: var(--background-light);
}

.plan__item {
	border-color: var(--background-light);
}

.plan__item.plan__item--clicked {
	background: var(--item-clicked-background-light);
	border-color: var(--item-clicked-border-light);
}

@media (prefers-color-scheme: dark) {
	html {
		color: var(--foreground-dark);
		background: var(--background-dark);
	}

	#generator-home {
		background: var(--background-dark);
	}

	.plan__item {
		border-color: var(--background-dark);
	}

	.plan__item.plan__item--clicked {
		background: var(--item-clicked-background-dark);
		border-color: var(--item-clicked-border-dark);
	}
}
