---
---
a {
  color: #00449e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Tooltip text */
/* Adapted from https://www.w3schools.com/css/css_tooltip.asp */
.tooltip__text {
  display: none;
  width: 120px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.tooltip__text.tooltip__text--bottom {
  width: 120px;
  top: 125%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip__text.tooltip__text--bottom:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: inherit;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip__text {
  display: block;
}
