<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="">

  <link rel="stylesheet" href="{{"assets/css/site.css" | absolute_url}}">
</head>

<body>
  <div class="container">
    {{ content }}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.0.0/dist/fuse.basic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/smoothscroll-polyfill"></script>
  <script src="{{"assets/js/polyfills.js" | absolute_url }}"></script>
  <script src="{{"assets/js/list.js" | absolute_url }}"></script>
  <script src="{{"assets/js/dom.js" | absolute_url }}"></script>
  <script src="{{"assets/js/site.js" | absolute_url }}"></script>
</body>
</html>
