<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/richleland/pygments-css@master/default.min.css">
  <link rel="stylesheet" href="{{"assets/css/site.css" | absolute_url}}">
  <script
    src="https://polyfill.io/v3/polyfill.min.js?features=Array.prototype.filter%2CArray.prototype.map%2CArray.prototype.reduce%2CElement.prototype.classList%2Csmoothscroll"></script>
  <script src="https://cdn.jsdelivr.net/npm/stickyfilljs@2.1.0/dist/stickyfill.min.js"></script>
</head>

<body>
  <div class="container">
  <h1>
    <em>Using Digitial Humanities in the Classroom</em>
    <small>Digital Companion</small>
  </h1>
  <div id="controls" style="top: 0; position: sticky;">
    <div id="categories">
      <h2>Filter By Categories</h2>
      <ul></ul>
    </div>
    <label for="searchBar">Search FAQs</label>
    <input type="text" id="searchBar" value="" aria-describedby="searchBar-desc" />
    <small id="searchBar-desc">Input a search terms to see related questions and answers.</small>
    <div id="titleList"></div>
  </div>
  <section id="questions">
    {{ content }}
  </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.0.0/dist/fuse.basic.min.js"></script>
  <script src="{{"assets/js/site.js" | absolute_url }}"></script>
</body>

</html>
